BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; SCROLLBAR-FACE-COLOR: #e1dbc1; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(smallbackgrd.jpg); SCROLLBAR-HIGHLIGHT-COLOR: #f1ebd1; BORDER-LEFT: 0px; SCROLLBAR-SHADOW-COLOR: #f1ebd1; SCROLLBAR-3DLIGHT-COLOR: #f1ebd1; SCROLLBAR-ARROW-COLOR: #f1ebd1; SCROLLBAR-TRACK-COLOR: #f1ebd1; BORDER-BOTTOM: 0px; FONT-FAMILY: Times, serif; SCROLLBAR-DARKSHADOW-COLOR: #f1ebd1; Frameborder: '0'
}
TABLE {
	MARGIN-TOP: 0px; FONT-SIZE: 11pt; BACKGROUND-IMAGE: url(smallbackgrd.jpg); MARGIN-BOTTOM: 0px; COLOR: #003300; FONT-FAMILY: Times, serif
}
P {
	FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Times, serif
}
LI {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Times, serif
}
TD {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Times, serif
}
TD.at_mini {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Times, serif
}
TD.h_box {
	FONT-SIZE: 14pt; FONT-FAMILY: Times, serif
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: 34pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Times, serif
}
H2 {
	MARGIN-TOP: 18px; FONT-SIZE: 15pt; MARGIN-BOTTOM: 5px; COLOR: #000000; FONT-FAMILY: Times, serif
}
H3 {
	MARGIN-TOP: 0px; FONT-SIZE: 34pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Times, serif
}
H4 {
	MARGIN-TOP: 0px; FONT-SIZE: 12pt; MARGIN-BOTTOM: 5px; COLOR: #000000; FONT-FAMILY: Times, serif
}
H5 {
	MARGIN-TOP: 0px; FONT-SIZE: 20pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Times, serif
}
H6 {
	MARGIN-TOP: 0px; FONT-SIZE: 28pt; MARGIN-BOTTOM: 5px; COLOR: #000000; FONT-FAMILY: Times, serif
}
A:link {
	FONT-SIZE: 12pt; COLOR: #663300; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12pt; COLOR: #663300; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12pt; COLOR: #0000aa
}
A:hover {
	BACKGROUND-COLOR: #e1dbc1
}
